
/* 검색 버튼 시작*/
.search {
    display: flex;
    justify-content: center; /* 중앙 정렬 */
    margin: 310px; /* 상하 여백 */
}

.search-box {
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    border-radius: 25px; /* 둥근 모서리 */
    overflow: hidden; /* 경계선이 둥글게 보이도록 */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* 그림자 효과 */
}

.search-txt {
    border: none; /* 기본 테두리 제거 */
    padding: 30px 43px; /* 내부 여백 */
    font-size: 25px; /* 글자 크기 */
    border-radius: 22px; /* 둥근 모서리 */
    outline: none; /* 포커스 시 테두리 제거 */
    width: 710px; /* 너비 설정 */
    transition: border 0.3s; /* 테두리 애니메이션 효과 */
}

.search-txt::placeholder {
    color: #aaa; /* 플레이스홀더 색상 */
}

.search-txt:focus {
    border: 2.5px solid #00ff9c; /* 포커스 시 테두리 색상 */
}

.search-btn {
    background-color: #00ff9c; /* 버튼 배경색 */
    border: none; /* 기본 테두리 제거 */
    padding: 33px 43px; /* 내부 여백 */
    cursor: pointer; /* 커서 포인터 */
    transition: background-color 0.3s; /* 배경색 애니메이션 */
    border-radius: 0 25px 25px 0; /* 오른쪽 모서리 둥글게 */
}

.search-btn:hover {
    background-color: #00e68a; /* 호버 시 버튼 색상 변화 */
}

.search-btn i {
    color: white; /* 아이콘 색상 */
    font-size: 40px; /* 아이콘 크기 */
}
/* 검색 버튼 끝*/

